{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

</head>
<style>
    body {
        padding-top: 56px;
    }
</style>
<body>
{% block content %}
    {% csrf_token %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if user.username %}
                        <li class="nav-item">
                   <span class="navbar text text-light">Hello, <span class="badge badge-danger">
                        <a style="font-size: 15px; color: #ffffff"
                           href="#">{{ request.user.username }}</a></span></span>
                        </li>
                        <li class="nav-item">
                   <span class="navbar text text-light">You cash, <span class="badge badge-danger">
                        <a style="font-size: 15px; color: #ffffff"
                           href="#">{{ request.user.cash }}</a></span></span>

                        </li>
                        <button><a href={% url 'orders' %}>My History</a></button>
                        <button><a href="{% url 'logout' %}">Logout</a></button>
                        <button><a href="{% url 'today' %}">Today`s seance</a></button>
                        <button><a href="{% url 'tomorrow' %}">Tomorrow`s seance</a></button>
                        <form method="get" id="SortSeanceById">
                            <input type="hidden" name="orderby" value="-id">
                        </form>
                        <form method="get" id="SortSeanceByValue">
                            <input type="hidden" name="orderby" value="ticket_value">
                        </form>
                        <form method="get" id="SortSeanceByTime">
                            <input type="hidden" name="orderby" value="start">
                        </form>

                        {% if user.is_superuser %}

                            <li class="nav-item">
                                <button class="btn btn-primary"><a style="color: black" href="{% url 'create_hall' %}">Create
                                    Hall</a>
                                </button>
                            </li>

                            <button class="btn btn-primary"><a style="color: black"
                                                               href="{% url 'create_seance' %}">Create the Seance
                            </a></button>

                        {% endif %}
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <button><a href="{% url 'login' %}">Login</a></button>
                        <button><a href="{% url 'registration' %}">Registration</a></button>
                        <button><a href="{% url 'today' %}">Today`s seance</a></button>
                        <button><a href="{% url 'tomorrow' %}">Tomorrow`s seance</a></button>

                    {% endif %}
                    {% if not user.is_superuser %}
                        <form method="get" id="SortSeanceById">
                            <input type="hidden" name="orderby" value="-id">
                        </form>
                        <form method="get" id="SortSeanceByValue">
                            <input type="hidden" name="orderby" value="ticket_value">
                        </form>
                        <form method="get" id="SortSeanceByTime">
                            <input type="hidden" name="orderby" value="start">
                        </form>
                        <div class="box sort pull-right">
                            <span style="color: white">Sort by:</span>
                            <button value="Sort by" class="dropdown-toggle" type="submit" data-toggle="dropdown"
                                    id="menu2">
                                <span class="dropdown-label">Default</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                                <li><a href="#" title="Reset Sorting"
                                       onclick="document.getElementById('SortSeanceById').submit();">Reset Sorting</a>
                                </li>
                                <li><a href="#" title="Ticket`s value"
                                       onclick="document.getElementById('SortSeanceByValue').submit();">Ticket`s
                                    value</a></li>
                                <li><a href="#" title="Seance`s time"
                                       onclick="document.getElementById('SortSeanceByTime').submit();">Seance`s time</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

    <div class="row">


    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        {% for obj in object_list %}
            <form method="POST">
                {% csrf_token %}

               <p><h2>{{ obj.title }}</h2></p>

                {#                <p style="font-size: 30px">Characteristic: {{ obj.description }}</p>#}
                <p style="font-size: 20px">Hall: {{ obj.hall.hall }}</p>
                <p style="font-size: 20px">Date and Time: {{ obj.date }} from {{ obj.start }} to {{ obj.end }}</p>
                {% if  obj.seats %}
                    <p style="color: blue; font-size: 20px">{{ obj.seats }} places left for {{ obj.ticket_value }}
                        UAH</p>
                {% else %}
                    <p style="font-size: 25px; color: darkgoldenrod">Places is OVER</p>
                    {#                <p style="font-size: 30px; color: red">{{ obj.ticket_value }}</p>#}
                {% endif %}
            </form>

                    {% csrf_token %}
                    {% if user.is_superuser %}
                        <br>
                        {% if obj.used == 0 %}
                            <a href="{% url 'update_seance' obj.id %}">Change Seance</a>
                        {% else %}
                            <p style="font-size: 25px; color: darkgoldenrod">You can`t change</p>
                        {% endif %}

                    {% endif %}

                <form method="POST" action="{% url 'buying' %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <p>
                        <input name="places" style="font-size: 20px; color: blue" type="number" min="1"
                               max="{{ obj.hall.places }}">
                        <input name="hall" type="hidden" value="{{ obj.hall.id }}">
                        <input name="customer" type="hidden" value="{{ user.id }}">
                        <input name="seance" type="hidden" value="{{ obj.id }}">
                        <button>Buy</button></p>
                        <br>
                    {% endif %}
                </form>
            </form>

        {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    <!-- /.row -->
{% endblock content %}
</div>
<!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>