{% extends 'cinema.html' %}
<h1>Update</h1>
{% block content %}
    {% for obj in object_list %}
        <form method="POST">
        {% csrf_token %}
        <h2>{{ obj.title }}</h2>

        {#                <p style="font-size: 30px">Characteristic: {{ obj.description }}</p>#}
        <p style="font-size: 20px">Hall: {{ obj.hall }} </p>
        <p style="font-size: 20px">Date: from {{ obj.date_start }} to {{ obj.date_end }}</p>
        <p style="font-size: 20px">Time: from {{ obj.start }} to {{ obj.end }}</p>

        {% if  obj.hall.places %}
            <p style="color: blue; font-size: 20px">{{ obj.hall.places }} places left for {{ obj.ticket_value }}
                UAH</p>
        {% else %}
            <p style="font-size: 25px; color: darkgoldenrod">Places is OVER</p>
            {#                <p style="font-size: 30px; color: red">{{ obj.ticket_value }}</p>#}
        {% endif %}
        {#            <form method="POST" action="{% url 'update_hall' obj.id %}">#}
        {#                {% csrf_token %}#}
        {#                {% if user.is_superuser %}#}
        {#                    <button><a href="{% url 'update_hall' obj.id %}"></a>Change Hall</button>#}
        {#                {% endif %}#}
        {#            </form>#}
        {#            <form method="POST" action="{% url 'update_seance' obj.id %}">#}
        {#                {% csrf_token %}#}
        {#                {% if user.is_superuser %}#}
        {#                    <button><a href="{% url 'update_seance' obj.id %}"></a>Change Seance</button>#}
        {#                {% endif %}#}
        {#            </form>#}
        {#        </form>#}
        <form method="POST" action="{% url 'buying' %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <input name="places" style="font-size: 20px; color: blue" type="number" min="1"
                       max="{{ obj.hall.places }}">
                <input name="customer" type="hidden" value="{{ user.id }}">
                <input name="seance" type="hidden" value="{{ obj.id }}">
                <button>Buy</button>
            {% endif %}
        </form>
    {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}